body {
  background-color: white;
  font-family: arial,sans-serif;
    height: 100%;
}

.nav {
  width: 100%;
  height: 60px;
}

.navR {
  float: right;
}

li {
  display: inline-block;
    font-size: 12px;
    color: #3f3f3f;
}

li:hover {
  text-decoration: underline;
}

#signin {
    position: relative;
  display: inline-block;
  text-align: center;
  padding: 4px;
    color: gray;  
    background-color: #4484f1;
  color: white;
  width: 70px;
height: 20px;
  border-radius: 4px;
    margin-right: 30px;
    font-weight: bolder;
    font-size: 14px;
}

img {
  padding-top: 112px;
  display: block;
  margin: auto;
}

input {
  margin-top: 25px;
  height: 30px;
  width: 60%;
  display: block;
  margin: auto;
}

input:hover {
  border: 1px solid black;
}

#tests {
    padding-bottom: 100px;
      text-align: center;
}

.button {
    position: relative;
  display: inline-block;
  background-color: #f1f1f1;
  height: 12px;
  width: 150px;
  margin: 25px;
  text-align: center;
  padding: 10px;
    color: gray;
}

.button:hover {
    border: 1px solid gray;
 
    
}
.footer {
 position: fixed;
bottom: 0;
  background-color: #f1f1f1;
  width: 100%;
  height: 40px;
  text-align: auto;
    padding-bottom: 10px;
}

.footL {
  float: left;
}

.footR {
  float: right;
}